<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Delete Invoice

{% block content %}
       <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Delete Invoice: {{ object.id }}</h1>
            <form class="cell" method="post"> {% csrf_token %}
                <div class="callout secondary">
                    <h5>¿Do you want to delete this Invoice?</h5>
                </div>
                <button type="submit" class="alert button">Delete</button>
                <a href="{% url 'list_invoice' %}"><button type="button" class="succes button">Cancel</button></a>
            </form>
        </div>

    </div>
{% endblock content %}
</body>
</html>