<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>{{ invoice.id }}</h4>
    <h4>{{ invoice.date }}</h4>
    <h4>{{ invoice.client }}</h4>
    <h4>{{ invoice.waiter }}</h4>
    <h4>{{ invoice.table }}</h4>
</body>
</html>