<!doctype html>
<html lang="en">
  <body>
{% block content %}
     <h1 class="cell">List Invoice</h1>
            <div class="cell">
                <table>
                    <thead>
                    <tr>
                        <th width="200">Id</th>
                        <th>Date</th>
                        <th width="150">Client</th>
                        <th width="150">Waiter</th>
                        <th width="150">Table</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.date }}</td>
                            <td>{{ item.client }}</td>
                            <td>{{ item.waiter }}</td>
                            <td>{{ item.table }}</td>
                            <td><a class="button warning" href="{% url 'update_invoice' item.id %}">Update</a></td>
                            <td><a class="button danger" href="{% url 'delete_invoice' item.id %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock content %}
  </body>
</html>