<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>{{ client.id }}</h4>
    <h4>{{ client.name }}</h4>
    <h4>{{ client.last_name }}</h4>
    <h4>{{ client.observation }}</h4>
</body>
</html>