<!doctype html>
<html lang="en">
  <body>
{% block content %}
     <h1 class="cell">List Clientes</h1>
            <div class="cell">
                <table>
                    <thead>
                    <tr>
                        <th width="200">Id</th>
                        <th>Name</th>
                        <th width="150">Last Name</th>
                        <th width="150">Observation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.last_name }}</td>
                            <td>{{ item.observation }}</td>
                            <td><a class="button warning" href="{% url 'update_client' item.id %}">Update</a></td>
                            <td><a class="button danger" href="{% url 'delete_client' item.id %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock content %}
  </body>
</html>