<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>{{ waiter.id }}</h4>
    <h4>{{ waiter.name }}</h4>
    <h4>{{ waiter.last_name }}</h4>
</body>
</html>