<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>{{ product.id }}</h4>
    <h4>{{ product.name }}</h4>
    <h4>{{ product.price }}</h4>
    <h4>{{ product.type }}</h4>
</body>
</html>