<!doctype html>
<html lang="en">
  <body>
{% block content %}
     <h1 class="cell">List Product</h1>
            <div class="cell">
                <table>
                    <thead>
                    <tr>
                        <th width="200">Id</th>
                        <th>Name</th>
                        <th width="150">price</th>
                        <th width="150">Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.type }}</td>
                            <td><a class="button warning" href="{% url 'update_product' item.id %}">Update</a></td>
                            <td><a class="button danger" href="{% url 'delete_product' item.id %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock content %}
  </body>
</html>