<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>{{ order.id }}</h4>
    <h4>{{ order.date }}</h4>
    <h4>{{ order.client }}</h4>
    <h4>{{ order.waiter }}</h4>
    <h4>{{ order.table }}</h4>
</body>
</html>