<!doctype html>
<html lang="en">
  <body>
{% block content %}
     <h1 class="cell">List Orders</h1>
            <div class="cell">
                <table>
                    <thead>
                    <tr>
                        <th width="200">Id</th>
                        <th>Amount Products</th>
                        <th width="150">Products</th>
                        <th width="150">Invoices</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.amount_products }}</td>
                            <td>{{ item.products }}</td>
                            <td>{{ item.invoices }}</td>
                            <td><a class="button warning" href="{% url 'update_order' item.id %}">Update</a></td>
                            <td><a class="button danger" href="{% url 'delete_order' item.id %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock content %}
  </body>
</html>