<!doctype html>
<html lang="en">
  <body>
{% block content %}
     <h1 class="cell">List Table</h1>
            <div class="cell">
                <table>
                    <thead>
                    <tr>
                        <th>amount diners</th>
                        <th width="150">Location</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr>
                            <td>{{ item.amount_diners }}</td>
                            <td>{{ item.location }}</td>
                            <td><a class="button warning" href="{% url 'update_table' item.id %}">Update</a></td>
                            <td><a class="button danger" href="{% url 'delete_table' item.id %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock content %}
  </body>
</html>